.error {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error .img {
    width: 40rem;
}

.error .img img {
    width: 100%;
}

.error .text p {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}