header {
    padding: 1rem 10rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all 0.4s;
}

nav .logo {
    width: 6rem;
}

nav .logo img {
    width: 100%;
}

.nav-link a {
    text-decoration: none;
    font-size: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    color: #a1a1a1;
    transition: all 0.3s;
}

.nav-link a.active,
.nav-link a:hover {
    color: #000;
}

nav .user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav .user .user-img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

nav .user .user-img img {
    width: 100%;
}

/* Conditional */

nav .nav-show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6.5rem;
    left: calc(50% - 5rem);
    transform: translate(-50%, 0);
    padding: 3rem;
    background-color: #ffba08;
    z-index: 200000;
}

nav .nav-show a {
    color: #fff;
}

nav span.show {
    display: flex;
    flex-direction: column;
}

nav .icon-box {
    display: none;
}

nav .icon-box .icon {
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    header {padding: 1rem 2rem;}
    nav .logo {width: 4rem;}
    .nav-link {display: none;}
    .nav-link a {font-size: 1.6rem;}
    nav .icon-box {display: block;}
}