main {
    padding: 0 10rem;
    background-color: #e6fef1;
}

.banner {
    height: calc(100vh - 65px);
    background-image: url('./banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .title {
    color: #fff;
    font-size: 4.8rem;
    margin-bottom: 2rem;
}

.banner .title span {
    color: #FFBA08;
}

.feature-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.4s;
}

.feature-card:hover {
    background-color: #FFBA08;
    color: #fff;
}

.feature-card:hover .icon {
    color: #fff;
}

.feature-card .icon {
    font-size: 3.6rem;
    color: #FFBA08;
}

.feature-card p {
    font-size: 2rem;
    font-weight: 700;
}

.partners .img-box img {
    width: 40%;
}

@media screen and (max-width: 768px) {
    main {
        padding: 0 2rem;
    }
    
    .banner .title {
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
    
    .banner .title span {
        color: #FFBA08;
    }
}