footer {
    padding: 3rem 10rem;
    background-color: #0f0f0f;
    color: #fff;
}

.footer-logo {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer-logo img {
    width: 15rem;
    height: 15rem;
}

footer .link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer .link a {
    text-decoration: none;
    color: #fff;
}

footer .link a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    footer {
        padding: 3rem;
    }
    .address {
        margin-bottom: 2rem;
    }
}