/* Font input */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Basic SetUp */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #151515;
}

section {
  padding: 3rem 10rem;
}

/* CSS Components */

.grid {
  display: grid;
  gap: 2rem;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.section-title {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 3rem;
}

.btn-primary {
  outline: none;
  border: none;
  background-color: #ffba08;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.4s;
}

.btn-primary:hover {
  background-color: #F48C06;
}

.btn-outline {
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  background-color: transparent;
  margin-bottom: 1rem;
  border: 1px solid #ffba08;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .col-4 {grid-template-columns: repeat(2, 1fr);}
}

@media screen and (max-width: 768px) {
  section {
    padding: 3rem;
  }
  .grid {
    gap: 1rem;
  }

  .col-2,
  .col-3,
  .col-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}
